# TODO 修改成json文件吧不如
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Burst link!'
      'command': 'AtomMiku:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-miku'
      'submenu': [
        {
          'label': 'Burst link!'
          'command': 'AtomMiku:toggle'
        }
      ]
    ]
  }
]
